*{
  font-family: times;
}
html, body {
  height: 100%;
  width: 100%;
}
.textcenter{
text-align: center; 
}
.container{
background-color: bisque;
  text-align: center; 
display:flex;
  justify-content: center;
  flex-direction: column;
/*   padding:2rem; */
}
.button{
  padding: 20px;
  margin: 0 3px;
  border-radius: 8px;
  border: 2px solid black;
  cursor: pointer;
}
.rows{
  margin: 8px 0;
}
.row input{
  margin: 10px;
  padding: 10px 10px;
  border-color: balck;
  border-radius: 4px;
}